
  <div class="chats">
    <div class="chat">
      <div class="chat-top">
        <div class="chat-top-name">
          <%= message.user.name %>
        </div>
        <div class="chat-top-date">
          <%= message.created_at %>
        </div>
      </div>
      <div class="chat-content">
        <%= message.content%>
      </div>
    </div>
  </div>  
