<div class="wrapper">
  <div class="side-bar">
    <div class="side-bar-header">
      <div class="user-name">
        <a href="#">SKY</a>
      </div>
      <div class="chat-create-btn">
        <a href="#">チャットを作成する</a>
      </div>
    </div>
    <div class="side-bar-main">
      <div class="chat-room">
        <div class="chat-room-name">
          <a href="#">ROOM1</a>
        </div>
      </div>
      <div class="chat-room">
        <div class="chat-room-name">
          <a href="#">ROOM2</a>
        </div>
      </div>
    </div>
  </div>
  <div class="main-chat">
    <div class="main-chat-header">
      
    </div>
    <div class="main-chat-messages">
    </div>
    <div class="main-chat-input">
    </div>
  </div>
</div>