<div class="wrapper">
  <div class="side-bar">
    <div class="side-bar-header">
      <div class="user-name">
        <a href="#">SKY</a>
      </div>
      <div class="chat-create-btn">
        <a href="#">チャットを作成する</a>
      </div>
    </div>
    <div class="side-bar-main">
      <div class="chat-room">
        <div class="chat-room-name">
          <a href="#">ROOM1</a>
        </div>
      </div>
      <div class="chat-room">
        <div class="chat-room-name">
          <a href="#">ROOM2</a>
        </div>
      </div>
    </div>
  </div>
  <div class="main-chat">
    <div class="main-chat-header">
      <div class="header-title">
        <div class="main-chat-room-name">
          ROOM1
        </div>
        <div class="chat-end-btn">
          <a href="#">チャットを終了する</a>
        </div>
      </div>
    </div>
    <div class="main-chat-messages">
      <div class="chats">
        <div class="chat">
          <div class="chat-top">
            <div class="chat-top-name">
              Tom
            </div>
            <div class="chat-top-date">
              2022/9/8（Wed）12:34:45
            </div>
          </div>
          <div class="chat-bottom">
            <div class="chat-content">
              うぃ
            </div>
          </div>
        </div>
        <div class="chat">
          <div class="chat-top">
            <div class="chat-top-name">
              Tom
            </div>
            <div class="chat-top-date">
              2022/9/8（Wed）12:34:45
            </div>
          </div>
          <div class="chat-bottom">
            <div class="chat-content">
              うぃ
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="main-chat-input">
      <div class="main-chat-form">
        <div class="form-input">
          <input type="text" placeholder="type a message" class="form-text">
          <label class="form-image">
            <span class="image-file">画像</span>
            <input type="file" class="hidden">
          </label>
        </div>
        <input type="submit" value="送信" class="submit">
      </div>
    </div>
  </div>
</div>