<div class="wrapper">
  <div class="side-bar">
    <div class="side-bar-header">
      <%= render "side_bar" %>
    </div>
    <div class="side-bar-main">
    </div>
  </div>
  <div class="main-chat">
    <div class="main-chat-header">
      <%= render "main_chat" %>
    </div>
    <div class="main-chat-messages">
    </div>
    <div class="main-chat-input">
    </div>
  </div>
</div>